jiwer
pydub
pysubs2
abydos
pyctcdecode
scikit-learn
numpy
pandas
glob2
librosa
matplotlib
seaborn
scipy
tqdm
gradio
datasets
transformers
huggingface_hub
torch
torchaudio
audiomentations[extras]
torch-audiomentations
bitsandbytes @ git+https://github.com/facebookresearch/bitsandbytes
kenlm
wandb